{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <section class="container mt-5 mb-5">
    <h1 class="text-center colorText marginNavbar mb-4">Me contacter</h1>

    <p class="text-center fs-5 colorText mb-4">N'hesitez pas à prendre contact avec moi même pour plus de renseignements ou pour une prise de rendez-vous, je vous répondrais dans les meilleurs délais.</p>

    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-8 mt-3">{{ form(form) }}</div>
    </div>
</section>
{% endblock %}