html{
  height: 100%;
}

body{
    background-color: #ddcce6;
    display: flex;
    flex-direction: column;
    font-family: "Prata", serif;
}

.card-text {
  
  font-family: "Nunito Sans", sans-serif;
}
p {
  font-family: "Prata", serif;
}
.highlights {
    color: #DC9A7D;
  }

  .filled-star {
    color: #DC9A7D; 
  }
  
  .empty-star {
    color: #DC9A7D; 
  }
  
  .title {
    font-family: "Prata", serif;
    color: #0c0920; 
    background-color: #ffffff; 
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    line-height: 1.2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid #ccc;
  }

.active {
  color: #ddcce6;
  text-decoration: underline;
}

 
  .logo {
    height: 110px;
    width: 110px;
  }

  .colorNav,.colorText{
    color: #000000;
  }

  .colorNav {
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
  }


  .backgroundFooter,.navbarBg,.colorInsert,.titleBg   {
    background-color:#ffffff;
  }

  .btnColor{
    background-color: #ddcce6;
  }

  .linkStyle {
    text-decoration: none;
  }
  
  .fa-regular, .fa-solid, .linkStyle{
    color: #ddcce6;
  }
  .linkStyle:hover, .colorNav:hover {
    text-decoration: underline;
    color: #ddcce6;
  }
@media screen and (min-width: 320px) and (max-width : 600px) {
  .card-img-top {
    height: 200px;
    width: 100%;

  }
}
  
