html{
  height: 100%;
}

body{
    background-color: #609a7d;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.highlights {
    color: #DC9A7D;
  }

  .filled-star {
    color: #DC9A7D; 
  }
  
  .empty-star {
    color: #DC9A7D; 
  }
  
  .title {
    font-family: 'Noto Sans', sans-serif;
    color: #0c0920; 
    background-color: #f3f3f7; 
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    line-height: 1.2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid #ccc;
  }



  .title:hover {
    background-color: #e9ecef;
    transform: scale(1.05);
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

 
  .logo {
    height: 110px;
    width: 110px;
  }

  .colorNav,.colorText{
    color: #0C0920;
    font-family: 'Noto Sans', sans-serif;
    
  }

  .fontHandF {
    font-family: 'Reenie Beanie', cursive;
  }
  
  .colorInsert {
    background-color: #f3f3f7;
  }

  .btnColor{
    background-color: #bdb9b3;
  }

  
