{% extends 'base.html.twig' %}

{% block title %}Hello Controller!{% endblock %}

{% block body %}

  <section class="my-5 mb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex align-items-center">
          <div class="text-center">
            <h1 class="mb-4 title">Une diététicienne nutritionniste à votre écoute</h1>
            <p class="lead">Je suis une diététicienne nutritionniste passionnée, prête à vous accompagner dans votre parcours vers une meilleure santé et un bien-être optimal.</p>
          </div>
        </div>
        <div class="col-md-6">
          <img src="{{ asset('pictures/diet.png') }}" class="img-fluid rounded-start mb-5" alt="diététique">
        </div>
      </div>
    </div>
  </section>

  <section class="my-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card mb-5">
            <div class="card-body">
              <h4 class="card-title">À propos</h4>
              <p class="card-text">
                Je vous accueille à Lyon, dans mon cabinet diététique situé au sein de la Maison de Santé, où nous travaillons en équipe pluridisciplinaire médicale et paramédicale afin de vous donner accès à un parcours de soin de qualité. Nous sommes tous des professionnels de santé diplômés et reconnus, pour la plupart formés à l’Education Thérapeutique du Patient (ETP) afin de vous aider à devenir autonome avec votre/vos pathologie(s).
              </p>
              <p class="card-text">
                Passionnée de nutrition depuis l’âge de mes quinze ans, c’est avec bienveillance que je vous reçois en consultation afin de comprendre votre relation avec l’alimentation et de fixer ensemble des objectifs réalisables sur le long terme. Mes spécialisations incluent le rééquilibrage alimentaire, la micronutrition, le surpoids, l'obésité, le syndrome prémenstruel, la ménopause, les troubles fonctionnels intestinaux, la colopathie fonctionnelle ou le syndrome de l’intestin irritable, l'alimentation anti-inflammatoire, l'alimentation pendant la grossesse, l'alimentation anti-fatigue, et bien d'autres encore.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-center">
          <img src="{{ asset('pictures/diet.png') }}" class="img-fluid rounded-start" alt="diététique">
        </div>
      </div>
    </div>
  </section>

  <hr class="my-5">

 <section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card mb-5">
          <div class="card-body">
            <h4 class="card-title">Mes services</h4>
            <p class="card-text">
              Je propose une consultation personnalisée pour faire le bilan sur vos apports nutritionnels, analyser vos habitudes alimentaires, et définir ensemble des objectifs spécifiques, quantifiables, réalisables et durables. J'adapterai le plan alimentaire en prenant en compte vos préférences, vos contraintes et vos besoins individuels. Vous recevrez également des conseils personnalisés en matière de nutrition et de mode de vie sain. Mon objectif est de vous accompagner tout au long de votre parcours vers une meilleure santé.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <img src="{{ asset('pictures/diet.png') }}" class="img-fluid rounded-start" alt="diététique">
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <div class="card mb-4">
          <div class="card-body">
            <h4 class="card-title">Des ateliers diététiques</h4>
            <p class="card-text">
              Nous proposons également des ateliers de cuisine diététique à thème directement à la Maison de Santé de Lyon. Venez apprendre les bases d'une cuisine saine et équilibrée avec le chef cuisinier Alex. Nos ateliers en groupe vous permettront de découvrir des recettes adaptées à vos besoins spécifiques, que ce soit pour des problèmes de santé ou pour une alimentation quotidienne équilibrée. Tout le matériel nécessaire vous sera fourni sur place.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <img src="{{ asset('pictures/diet.png') }}" class="img-fluid rounded-start" alt="diététique">
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Service supplémentaire</h4>
            <p class="card-text">
              En plus de mes services de consultation et d'ateliers diététiques, je propose également un programme de suivi en ligne. Ce programme vous permettra de bénéficier d'un accompagnement continu et personnalisé, où vous pourrez suivre votre évolution, recevoir des conseils et des recommandations adaptés à vos besoins spécifiques, et échanger avec d'autres participants du programme pour partager vos expériences et vous soutenir mutuellement.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
